@import "./reset.css";

@font-face {
  font-family: Karla;
  font-display: swap;
  font-weight: 400 700;
  src: url("../assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
}

@layer base {
  :root {
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);
    --white: hsl(0, 0%, 100%);
    --grey-500: hsl(186, 15%, 59%);
    --grey-900: hsl(187, 24%, 22%);

    --font-size: clamp(16px, 16px + 4 * (100vw - 375px) / (1440 - 375), 20px);
    --line-height: 1.5;
    --font-family: Karla, Arial, Helvetica, sans-serif;

    --border-green: 0.1em solid var(--green-600);
    --border-grey: 0.1em solid hsl(from var(--grey-500) h s l / 50%);
    --border-red: 0.1em solid var(--red);
  }

  body {
    font-weight: 400;
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-family: var(--font-family);
    background-color: var(--green-200);
    color: var(--grey-900);
  }

  main {
    display: flex;
    padding-inline: 1em;
    block-size: 100%;
  }

  form {
    display: grid;
    gap: 1em;
    margin: auto;
    padding: 1em;
    border-radius: 1em;
    background-color: var(--white);
  }

  fieldset {
    display: flex;
    flex-direction: column;
    border: none;
  }

  :is(
    input[type="text"],
    input[type="email"],
    label:has(input[type="radio"]),
    textarea
  ) {
    margin-block: 0.25em;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    border: var(--border-grey);
    outline: none;
    cursor: pointer;
    color: var(--grey-900);

    &:focus {
      border: var(--border-green);
    }
  }

  label:has(input) {
    display: flex;
    align-items: center;
    gap: 1ch;

    input {
      flex-shrink: 0;
    }

    &:has(:focus) {
      border-color: var(--green-600);
    }
  }

  label:has(input[type="radio"]:checked) {
    background-color: var(--green-200);
  }

  input:is([type="radio"], [type="checkbox"]) {
    --bg-url: url("../assets/images/icon-radio-selected.svg");

    appearance: none;
    block-size: 1em;
    inline-size: 1em;
    border: var(--border-grey);
    outline: none;

    &:focus {
      border-color: var(--green-600);
    }

    &:checked {
      border-color: var(--green-600);
      background: center no-repeat var(--bg-url);
    }

    &[type="radio"] {
      border-radius: 100%;
    }

    &[type="checkbox"] {
      --bg-url: url("../assets/images/icon-checkbox-check.svg");
    }
  }

  [role="alert"] {
    color: var(--red);
  }

  h1 {
    font-weight: 700;
    font-size: 2em;
  }

  textarea {
    block-size: 10lh;
  }

  button[type="submit"] {
    padding: 0.5em 1em;
    border-radius: 0.25em;
    border: none;
    background-color: var(--green-600);
    color: var(--white);
  }
}
