@import "./reset.css";

@font-face {
  font-family: Karla;
  font-display: swap;
  font-weight: 400 700;
  src: url("../assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
}

@layer base {
  :root {
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);
    --white: hsl(0, 0%, 100%);
    --grey-500: hsl(186, 15%, 59%);
    --grey-900: hsl(187, 24%, 22%);

    --font-size: clamp(16px, 16px + 4 * (100vw - 375px) / (1440 - 375), 20px);
    --line-height: 1.5;
    --font-family: Karla, Arial, Helvetica, sans-serif;

    --border-green: 0.1em solid var(--grey-500);
    --border-red: 0.1em solid var(--red);
  }

  body {
    font-weight: 400;
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-family: var(--font-family);
    background-color: var(--green-200);
    color: var(--grey-900);
  }

  main {
    display: flex;
    padding-inline: 1em;
    block-size: 100%;
  }

  form {
    display: grid;
    gap: 1em;
    margin: auto;
    padding: 1em;
    border-radius: 1em;
    background-color: var(--white);

    :is(input[type="text"], input[type="email"], textarea) {
      margin-block: 0.25em;
      padding: 0.5em 1em;
      border-radius: 0.25em;
      border: var(--border-green);
    }

    h1 {
      font-weight: 700;
      font-size: 2em;
    }

    textarea {
      block-size: 10lh;
    }

    label:has(input[type="checkbox"]) {
      display: flex;
      gap: 1em;
    }

    button[type="submit"] {
      padding: 0.5em 1em;
      border-radius: 0.25em;
      border: none;
      background-color: var(--green-600);
      color: var(--white);
    }
  }

  fieldset {
    display: flex;
    flex-direction: column;
    border: none;

    label {
      margin-block: 0.25em;
      padding: 0.5em 1em;
      border-radius: 0.25em;
      border: var(--border-green);
    }
  }
}
