@import "./reset.css";

@font-face {
  font-family: Karla;
  font-display: swap;
  font-weight: 400 700;
  src: url("../assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
}

@layer base {
  :root {
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);
    --white: hsl(0, 0%, 100%);
    --grey-500: hsl(186, 15%, 59%);
    --grey-900: hsl(187, 24%, 22%);

    --font-size: clamp(16px, 16px + 4 * (100vw - 375px) / (1440 - 375), 20px);
    --line-height: 1.5;
    --font-family: Karla, Arial, Helvetica, sans-serif;

    --border-green: 0.1em solid var(--green-600);
    --border-grey: 0.1em solid hsl(from var(--grey-500) h s l / 50%);
    --border-red: 0.1em solid var(--red);
  }

  body {
    font-weight: 400;
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-family: var(--font-family);
    background-color: var(--green-200);
    color: var(--grey-900);
  }

  main {
    display: flex;
    padding-inline: 1em;
    block-size: 100%;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    flex-grow: 1;
    margin: auto;
    padding: 1em;
    max-inline-size: 36em;
    container-type: inline-size;
    border-radius: 1em;
    background-color: var(--white);

    & > * {
      grid-column: span 2;
    }

    :is(div:nth-of-type(1), div:nth-of-type(2)) {
      @container (width > 24em) {
        grid-column: span 1;
      }
    }
  }

  [aria-labelledby="toast-heading"] {
    padding: 1em;
    border-radius: 0.5em;
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--grey-900);
    color: var(--white);

    #toast-heading {
      display: flex;
      gap: 0.5em;
      margin-block-end: 0.5em;
      font-weight: 700;
    }

    p {
      font-size: 0.75em;
    }
  }

  fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 1em;
    border: none;

    & > * {
      flex-grow: 1;
    }

    @container (width > 24em) {
      flex-direction: row;
    }
  }

  :is(
    input[type="text"],
    input[type="email"],
    label:has(input[type="radio"]),
    textarea
  ) {
    margin-block: 0.25em;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    border: var(--border-grey);
    outline: none;
    cursor: pointer;
    color: var(--grey-900);

    &:focus {
      border: var(--border-green);
    }

    &:hover {
      border: var(--border-green);
    }
  }

  label:has(input) {
    display: flex;
    align-items: center;
    gap: 1ch;

    input {
      flex-shrink: 0;
    }

    &:has(:focus) {
      border-color: var(--green-600);
    }
  }

  label:has(input[type="radio"]:checked) {
    background-color: var(--green-200);
  }

  input[type="checkbox"]:checked:focus {
    outline: var(--border-grey);
  }

  input:is([type="radio"], [type="checkbox"]) {
    --bg-url: url("../assets/images/icon-radio-selected.svg");

    appearance: none;
    block-size: 1em;
    inline-size: 1em;
    border: var(--border-grey);
    outline: none;

    &:focus {
      border-color: var(--green-600);
    }

    &:checked {
      border-color: var(--green-600);
      background: center no-repeat var(--bg-url);
    }

    &[type="radio"] {
      border-radius: 100%;
    }

    &[type="checkbox"] {
      --bg-url: url("../assets/images/icon-checkbox-check.svg");
    }
  }

  [role="alert"] {
    inline-size: 100%;
    color: var(--red);
  }

  h1 {
    font-weight: 700;
    font-size: 2em;
  }

  textarea {
    block-size: calc(10lh - 5vw);
  }

  button[type="submit"] {
    padding: 0.5em 1em;
    border-radius: 0.25em;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--green-600);
    color: var(--white);

    &:hover {
      background-color: hsl(from var(--green-600) h s calc(0.5 * l));
    }

    &:focus {
      outline: var(--border-grey);
    }
  }
}
