@layer reset {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font: inherit;
  }

  html,
  body {
    block-size: 100svh;
  }

  input:not([type="radio"], [type="checkbox"]),
  textarea {
    display: block;
    inline-size: 100%;
  }
}
